{"openapi":"3.0.0","info":{"title":"Mobile Native","description":"Simplified endpoints for optimised performance & data handling for Native Mobile app","version":"0.0.1"},"servers":[{"url":"https://xdny-scc5-yag9.a2.xano.io/api:LmTnxskw"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/auth/login":{"post":{"operationId":"Mobile Native/auth/login|POST","summary":"Login and retrieve an authentication token","description":"Login and retrieve an authentication token\n<br /><br />\n<b>Authentication:</b> not required","tags":["auth"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"authToken":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}}}}}},"/auth/merge_accounts":{"put":{"operationId":"Mobile Native/auth/merge_accounts|PUT","summary":"Allows the merging of existing accounts to occur.","description":"Allows the merging of existing accounts to occur.\n<br /><br />\n<b>Authentication:</b> required","tags":["auth"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"result1":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"email":{"type":"string","description":"","format":"email","nullable":true},"phoneNumber":{"type":"string","description":""},"fullName":{"type":"string","description":""},"phoneVerified":{"type":"boolean","description":"","default":"false"}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"existing_user_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"existing_user_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/auth/me":{"get":{"operationId":"Mobile Native/auth/me|GET","summary":"Get the record belonging to the authentication token","description":"Get the record belonging to the authentication token\n<br /><br />\n<b>Authentication:</b> required","tags":["auth"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"firstName":{"type":"string","description":"","nullable":true},"lastName":{"type":"string","description":"","nullable":true},"lastCheckInDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"email":{"type":"string","description":"","format":"email","nullable":true},"phoneNumber":{"type":"string","description":""},"access":{"type":"string","description":"","enum":["Free","Activator","Workplace"],"default":"Free"},"fullName":{"type":"string","description":""},"profilePic_url":{"type":"string","description":"","default":"https://xdny-scc5-yag9.a2.xano.io/vault/7gwBgMvy/o571IlKryejcfIyE3gx6vmMj5Vc/5oEHdQ../EP+-+Profile+Avatar.jpg"},"recentStateCoordinates":{"type":"integer","format":"int64","description":""},"recentStateEmotion_data":{"type":"integer","format":"int64","description":""},"recentCheckIn_full":{"type":"integer","format":"int64","description":""},"running_stats_id":{"type":"integer","format":"int64","description":""},"recentStateCoordinateDisplay":{"type":"string","description":""},"recentEmotion_text":{"type":"string","description":""},"openai_threadID":{"type":"string","description":""},"verificationCode":{"type":"integer","format":"int64","description":""},"emailVerified":{"type":"boolean","description":"","default":"false"},"phoneVerified":{"type":"boolean","description":"","default":"false"},"intro_slides_seen":{"type":"boolean","description":"","default":"false"},"mic_permissions":{"type":"boolean","description":"","default":"false"},"seen_mic_permission_popup":{"type":"boolean","description":"","default":"false"},"seen_dependency_popup":{"type":"boolean","description":"","default":"false"},"seen_trend_card":{"type":"boolean","description":"","default":"false"},"seen_user_reminder_setting":{"type":"boolean","description":"","default":"false"},"set_custom_user_reminder":{"type":"boolean","description":"","default":"false"},"onboarding_complete":{"type":"boolean","description":"","default":"false"},"currently_enrolled":{"type":"boolean","description":"","default":"false"},"course_completed":{"type":"boolean","description":"","default":"false"},"onboarding_step":{"type":"integer","format":"int64","description":"","default":"1"},"current_threadID":{"type":"string","description":""},"last_seen":{"type":"number","format":"timestamptz","description":"","nullable":true},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"weekly_report_day":{"type":"integer","format":"int64","description":"Days of week from 1-7","default":"5"},"reliability_score":{"type":"number","description":""},"country":{"type":"string","description":""},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"activator_subscription":{"type":"integer","format":"int64","description":""},"status":{"type":"string","description":"","enum":["active","invited","deactivated"]},"microsoft_id":{"type":"string","description":""},"microsoft_tenant_id":{"type":"string","description":""},"microsoft_conversation_id":{"type":"string","description":""},"microsoft_service_url":{"type":"string","description":""},"test_version":{"type":"boolean","description":"","default":"false"},"microsoft_token_expiry":{"type":"number","format":"timestamptz","description":"","nullable":true},"reminder_frequency":{"type":"string","description":"","enum":["WEEKDAYS","WEEKLY","DAILY","NONE"]},"reminder_hour":{"type":"integer","format":"int64","description":"","default":"11"},"reminder_min":{"type":"integer","format":"int64","description":""},"source":{"type":"string","description":""},"AWS_user_id":{"type":"integer","format":"int64","description":""},"AWS_synced":{"type":"boolean","description":"","default":"false"},"AWS_migrated":{"type":"boolean","description":"","default":"false"},"apple":{"type":"object","description":"","nullable":true},"apple_id":{"type":"string","description":""},"app_profile_banner_url":{"type":"string","description":""},"onesignal_subscription_id":{"type":"string","description":""},"Profile_Pic_File":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true},"magic_link2":{"type":"object","properties":{"token":{"type":"string","description":""},"expiration":{"type":"number","format":"timestamptz","description":"","nullable":true},"used":{"type":"boolean","description":"","default":"false"}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/auth/signup":{"post":{"operationId":"Mobile Native/auth/signup|POST","summary":"Signup and retrieve an authentication token","description":"Signup and retrieve an authentication token\n<br /><br />\n<b>Authentication:</b> not required","tags":["auth"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"authToken":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"firstName":{"type":"string","description":""},"lastName":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phoneNumber":{"type":"string","description":""},"password":{"type":"string","description":"","format":"password"},"fullName":{"type":"string","description":""},"profilePic_url":{"type":"string","description":""},"recentStateCoordinateDisplay":{"type":"string","description":""},"recentEmotion_text":{"type":"string","description":""},"openai_threadID":{"type":"string","description":""},"current_threadID":{"type":"string","description":""},"timezone":{"type":"string","description":""},"country":{"type":"string","description":""},"microsoft_id":{"type":"string","description":""},"microsoft_tenant_id":{"type":"string","description":""},"microsoft_conversation_id":{"type":"string","description":""},"microsoft_service_url":{"type":"string","description":""},"microsoft_access_token":{"type":"string","description":"","format":"password"},"microsoft_refresh_token":{"type":"string","description":"","format":"password"},"source":{"type":"string","description":""},"apple_id":{"type":"string","description":""},"app_profile_banner_url":{"type":"string","description":""},"onesignal_subscription_id":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"firstName":{"type":"string","description":""},"lastName":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phoneNumber":{"type":"string","description":""},"password":{"type":"string","description":"","format":"password"},"fullName":{"type":"string","description":""},"profilePic_url":{"type":"string","description":""},"recentStateCoordinateDisplay":{"type":"string","description":""},"recentEmotion_text":{"type":"string","description":""},"openai_threadID":{"type":"string","description":""},"current_threadID":{"type":"string","description":""},"timezone":{"type":"string","description":""},"country":{"type":"string","description":""},"microsoft_id":{"type":"string","description":""},"microsoft_tenant_id":{"type":"string","description":""},"microsoft_conversation_id":{"type":"string","description":""},"microsoft_service_url":{"type":"string","description":""},"microsoft_access_token":{"type":"string","description":"","format":"password"},"microsoft_refresh_token":{"type":"string","description":"","format":"password"},"source":{"type":"string","description":""},"apple_id":{"type":"string","description":""},"app_profile_banner_url":{"type":"string","description":""},"onesignal_subscription_id":{"type":"string","description":""}}}}}}}},"/checkins/create":{"post":{"operationId":"Mobile Native/checkins/create|POST","summary":"Add Check-In & Update Authenticated User","description":"Add Check-In & Update Authenticated User\n<br /><br />\n<b>Authentication:</b> required","tags":["checkins"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"checkin_id":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"related_support_request_id":{"type":"integer","format":"int64","description":"","nullable":true},"emotion_id":{"type":"integer","format":"int64","description":""},"coordinate_id":{"type":"integer","format":"int64","description":""},"checkin_view":{"type":"string","description":"","enum":["slider","grid"]}},"required":["emotion_id","coordinate_id","checkin_view"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"related_support_request_id":{"type":"integer","format":"int64","description":"","nullable":true},"emotion_id":{"type":"integer","format":"int64","description":""},"coordinate_id":{"type":"integer","format":"int64","description":""},"checkin_view":{"type":"string","description":"","enum":["slider","grid"]}},"required":["emotion_id","coordinate_id","checkin_view"]}}}}}},"/checkins/get_all":{"get":{"operationId":"Mobile Native/checkins/get_all|GET","summary":"Queries and returns auth user check-ins sorted from most recent, paginated in 10s","description":"Queries and returns auth user check-ins sorted from most recent, paginated in 10s\n<br /><br />\n<b>Authentication:</b> required","tags":["checkins"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/checkins/get_global_pulse":{"get":{"operationId":"Mobile Native/checkins/get_global_pulse|GET","summary":"Returns the global pulse data for last 24 hours.","description":"Returns the global pulse data for last 24 hours.\n<br /><br />\n<b>Authentication:</b> not required","tags":["checkins"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"stateCoordinates":{"type":"integer","format":"int64","description":""},"count":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/checkins/get_timeline":{"get":{"operationId":"Mobile Native/checkins/get_timeline|GET","summary":"Returns auth user checkins within the timeframe set by inputs","description":"Returns auth user checkins within the timeframe set by inputs\n<br /><br />\n<b>Authentication:</b> required","tags":["checkins"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"start_date","in":"query","description":"","required":true,"schema":{"type":"string","format":"date"}},{"name":"end_date","in":"query","description":"","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"user_id":{"type":"integer","format":"int64","description":""},"loggedDate":{"type":"string","format":"date","description":"","nullable":true},"dailyInsight":{"type":"string","description":""},"state":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Display":{"type":"string","description":""},"emotionColour":{"type":"string","description":""},"themeColour":{"type":"string","description":""},"themeFontColour":{"type":"string","description":""},"Selectable_Prompts":{"type":"string","description":""},"xQuad":{"type":"integer","format":"int64","description":""},"yQuad":{"type":"integer","format":"int64","description":""},"MHFR_action":{"type":"string","description":""},"definition":{"type":"string","description":""},"action":{"type":"string","description":""},"zone_name":{"type":"string","description":"","enum":["Active Flow","Challenged & Agitated","Contemplative & Connected","Loss & Exhaustion"]},"zone_label":{"type":"string","description":"","enum":["Low energy \u2022 Unpleasant","High energy \u2022 Unpleasant","Low energy \u2022 Pleasant","High energy \u2022 Pleasant"]},"body_signals":{"type":"string","description":""},"emotion_cluster":{"type":"string","description":"synonymous of similar emotions"},"tone":{"type":"string","description":""}},"nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/courses/get_courses":{"get":{"operationId":"Mobile Native/courses/get_courses|GET","summary":"","description":"<br /><br />\n<b>Authentication:</b> not required","tags":["courses"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"courses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"course_modules_id":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"order":{"type":"integer","format":"int64","description":""},"title":{"type":"string","description":""},"description":{"type":"string","description":""},"module_count":{"type":"integer","format":"int64","description":""}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/courses/get_current_modules":{"get":{"operationId":"Mobile Native/courses/get_current_modules|GET","summary":"","description":"<br /><br />\n<b>Authentication:</b> not required","tags":["courses"],"security":[],"parameters":[{"name":"users_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":"0"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"result1":{"type":"string"},"current_enrolment":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/courses/get_next_course":{"get":{"operationId":"Mobile Native/courses/get_next_course|GET","summary":"find next course","description":"find next course\n<br /><br />\n<b>Authentication:</b> not required","tags":["courses"],"security":[],"parameters":[{"name":"users_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":"0"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/courses/get_next_lesson":{"get":{"operationId":"Mobile Native/courses/get_next_lesson|GET","summary":"","description":"<br /><br />\n<b>Authentication:</b> required","tags":["courses"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/courses/mark_lesson_complete":{"post":{"operationId":"Mobile Native/courses/mark_lesson_complete|POST","summary":"Marks a lesson completed and returns the next lesson","description":"Marks a lesson completed and returns the next lesson\n<br /><br />\n<b>Authentication:</b> required","tags":["courses"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"result1":{"type":"string"},"progress":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"module_id":{"type":"integer","format":"int64","description":""}},"required":["module_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"module_id":{"type":"integer","format":"int64","description":""}},"required":["module_id"]}}}}}},"/emotions/get_all_coordinates":{"get":{"operationId":"Mobile Native/emotions/get_all_coordinates|GET","summary":"Gets All States Coordinates","description":"Gets All States Coordinates\n<br /><br />\n<b>Authentication:</b> not required","tags":["emotions"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"coordinateDisplay":{"type":"string","description":""},"order_meta":{"type":"integer","format":"int64","description":"The order of coordinates for a 8x8 grid."},"orderNumber":{"type":"integer","format":"int64","description":""},"intensityNumber":{"type":"integer","format":"int64","description":""},"relatedEmotionState_text":{"type":"string","description":""},"xAxis":{"type":"integer","format":"int64","description":""},"yAxis":{"type":"integer","format":"int64","description":""},"needs_attention":{"type":"boolean","description":"","default":"false"},"emotion_states_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/emotions/get_all_states":{"get":{"operationId":"Mobile Native/emotions/get_all_states|GET","summary":"Gets All Emotion States","description":"Gets All Emotion States\n<br /><br />\n<b>Authentication:</b> not required","tags":["emotions"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Display":{"type":"string","description":""},"emotionColour":{"type":"string","description":""},"themeColour":{"type":"string","description":""},"themeFontColour":{"type":"string","description":""},"Selectable_Prompts":{"type":"string","description":""},"xQuad":{"type":"integer","format":"int64","description":""},"yQuad":{"type":"integer","format":"int64","description":""},"MHFR_action":{"type":"string","description":""},"definition":{"type":"string","description":""},"action":{"type":"string","description":""},"zone_name":{"type":"string","description":"","enum":["Active Flow","Challenged & Agitated","Contemplative & Connected","Loss & Exhaustion"]},"zone_label":{"type":"string","description":"","enum":["Low energy \u2022 Unpleasant","High energy \u2022 Unpleasant","Low energy \u2022 Pleasant","High energy \u2022 Pleasant"]},"body_signals":{"type":"string","description":""},"emotion_cluster":{"type":"string","description":"synonymous of similar emotions"},"tone":{"type":"string","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/emotions/get_coordinate":{"get":{"operationId":"Mobile Native/emotions/get_coordinate|GET","summary":"Get Single Emotion Coordinate","description":"Get Single Emotion Coordinate\n<br /><br />\n<b>Authentication:</b> not required","tags":["emotions"],"security":[],"parameters":[{"name":"state_coordinates_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"coordinateDisplay":{"type":"string","description":""},"order_meta":{"type":"integer","format":"int64","description":"The order of coordinates for a 8x8 grid."},"orderNumber":{"type":"integer","format":"int64","description":""},"intensityNumber":{"type":"integer","format":"int64","description":""},"relatedEmotionState_text":{"type":"string","description":""},"xAxis":{"type":"integer","format":"int64","description":""},"yAxis":{"type":"integer","format":"int64","description":""},"needs_attention":{"type":"boolean","description":"","default":"false"},"emotion_states_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/emotions/get_state":{"get":{"operationId":"Mobile Native/emotions/get_state|GET","summary":"Get Single Emotion State","description":"Get Single Emotion State\n<br /><br />\n<b>Authentication:</b> not required","tags":["emotions"],"security":[],"parameters":[{"name":"emotion_states_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"Display":{"type":"string","description":""},"emotionColour":{"type":"string","description":""},"themeColour":{"type":"string","description":""},"themeFontColour":{"type":"string","description":""},"Selectable_Prompts":{"type":"string","description":""},"xQuad":{"type":"integer","format":"int64","description":""},"yQuad":{"type":"integer","format":"int64","description":""},"MHFR_action":{"type":"string","description":""},"definition":{"type":"string","description":""},"action":{"type":"string","description":""},"zone_name":{"type":"string","description":"","enum":["Active Flow","Challenged & Agitated","Contemplative & Connected","Loss & Exhaustion"]},"zone_label":{"type":"string","description":"","enum":["Low energy \u2022 Unpleasant","High energy \u2022 Unpleasant","Low energy \u2022 Pleasant","High energy \u2022 Pleasant"]},"body_signals":{"type":"string","description":""},"emotion_cluster":{"type":"string","description":"synonymous of similar emotions"},"tone":{"type":"string","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/group/create_invite_via_email":{"post":{"operationId":"Mobile Native/group/create_invite_via_email|POST","summary":"Invites a member by email via the app.","description":"Invites a member by email via the app.\n<br /><br />\n<b>Authentication:</b> required","tags":["group"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"string"},"message":{"type":"string"},"data":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"group_id":{"type":"integer","format":"int64","description":""},"invitee_email":{"type":"string","description":"","format":"email"}},"required":["group_id","invitee_email"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"group_id":{"type":"integer","format":"int64","description":""},"invitee_email":{"type":"string","description":"","format":"email"}},"required":["group_id","invitee_email"]}}}}}},"/group/create_invite":{"post":{"operationId":"Mobile Native/group/create_invite|POST","summary":"Add Group Forest Map record","description":"Add Group Forest Map record\n<br /><br />\n<b>Authentication:</b> not required","tags":["group"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"group_id":{"type":"integer","format":"int64","description":""},"invitee_email":{"type":"string","description":"","format":"email"},"invited_by":{"type":"integer","format":"int64","description":""},"invited_user":{"type":"integer","format":"int64","description":""},"isAutoAccept":{"type":"boolean","description":"","default":"false"}},"required":["group_id","invitee_email","invited_by"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"group_id":{"type":"integer","format":"int64","description":""},"invitee_email":{"type":"string","description":"","format":"email"},"invited_by":{"type":"integer","format":"int64","description":""},"invited_user":{"type":"integer","format":"int64","description":""},"isAutoAccept":{"type":"boolean","description":"","default":"false"}},"required":["group_id","invitee_email","invited_by"]}}}}}},"/group/create":{"post":{"operationId":"Mobile Native/group/create|POST","summary":"Used on Home Page view (not admin) to create a group.","description":"Used on Home Page view (not admin) to create a group.\n<br /><br />\n<b>Authentication:</b> required","tags":["group"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"groupName":{"type":"string","description":""},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"groupRef":{"type":"string","description":""},"parentId":{"type":"integer","format":"int64","description":""},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"billing_group":{"type":"boolean","description":"","default":"false"},"primary_group_id":{"type":"integer","format":"int64","description":""},"pay_by_group_id":{"type":"integer","format":"int64","description":""},"is_primary":{"type":"boolean","description":"","default":"false"},"imageKey":{"type":"string","description":""},"coverImageKey":{"type":"string","description":""},"checkInOften":{"type":"string","description":"","enum":["DAILY","WEEKDAYS","WEEKLY","NONE"],"default":"WEEKDAYS"},"checkInHour":{"type":"integer","format":"int64","description":"","default":"11"},"checkInDays":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"checkInMinute":{"type":"integer","format":"int64","description":""},"insistent":{"type":"boolean","description":"","default":"false"},"isActive":{"type":"boolean","description":"","default":"1"},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"string","description":""},"ownerId":{"type":"integer","format":"int64","description":""},"createdById":{"type":"integer","format":"int64","description":""},"forestLimit":{"type":"integer","format":"int64","description":""},"isEnabledAutoAcceptJoinRequest":{"type":"string","description":""},"adminMessage":{"type":"string","description":""},"uniqueId":{"type":"string","description":""},"inviteURL":{"type":"string","description":""},"denyMembersToLeave":{"type":"boolean","description":"","default":"false"},"hasIncludedDependents":{"type":"boolean","description":"","default":"false"},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"microsoftTeamsIds":{"type":"string","description":""},"createdFrom":{"type":"string","description":""},"partnerUserId":{"type":"string","description":""},"copyToDependents":{"type":"string","description":""},"copiedFromParent":{"type":"string","description":""},"copiedFromParentId":{"type":"string","description":""},"member_count":{"type":"integer","format":"int64","description":""},"sub_group_count":{"type":"integer","format":"int64","description":""},"group_running_stats_id":{"type":"integer","format":"int64","description":""},"stripe_customer_id":{"type":"string","description":""},"custom_support_services":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"contact_number":{"type":"string","description":""},"website_link":{"type":"string","description":""}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"group_name":{"type":"string","description":""},"group_image":{"type":"string","description":""},"list_of_users":{"type":"array","items":{"type":"object","description":""},"nullable":true}},"required":["group_name"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"group_name":{"type":"string","description":""},"group_image":{"type":"string","description":""},"list_of_users":{"type":"array","items":{"type":"object","description":""},"nullable":true}},"required":["group_name"]}}}}}},"/group/get_forest_map":{"get":{"operationId":"Mobile Native/group/get_forest_map|GET","summary":"Query all Group Forest Map records - Filtered by Auth User","description":"Query all Group Forest Map records - Filtered by Auth User\n<br /><br />\n<b>Authentication:</b> required","tags":["group"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"group_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"reqStatus":{"type":"string","description":"","enum":["PENDING","ACCEPTED","REJECTED","REMOVED"]},"groupId":{"type":"integer","format":"int64","description":""},"userID":{"type":"integer","format":"int64","description":""},"role":{"type":"string","description":"","enum":["member","leader","mhfr support","owner","consultant","primary owner"]},"admin":{"type":"string","description":"","enum":["owner","admin","primary owner","none"],"default":"none"},"sinceOnDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"isAutoAccept":{"type":"boolean","description":"","default":"false"},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedById":{"type":"integer","format":"int64","description":""},"ackById":{"type":"string","description":""},"ackDate":{"type":"string","description":""},"adminMessage":{"type":"string","description":""},"permissionLevel":{"type":"integer","format":"int64","description":""},"isFavourite":{"type":"boolean","description":"","default":"false"},"favouriteOrderNo":{"type":"integer","format":"int64","description":""},"isPushDisabled":{"type":"boolean","description":"","default":"false"},"isOwner":{"type":"boolean","description":"","default":"false"},"isAutoJoined":{"type":"boolean","description":"","default":"false"},"removed_timestamp":{"type":"number","format":"timestamptz","description":"","nullable":true},"token_hash":{"type":"string","format":"uuid","description":"","nullable":true},"invite_expiry_date":{"type":"number","format":"timestamptz","description":"","nullable":true},"invitee_email":{"type":"string","description":"","format":"email"},"invitee_mobile_number":{"type":"string","description":""},"group":{"type":"object","properties":{"groupName":{"type":"string","description":""},"imageKey":{"type":"string","description":""},"coverImageKey":{"type":"string","description":""},"checkInOften":{"type":"string","description":"","enum":["DAILY","WEEKDAYS","WEEKLY","NONE"],"default":"WEEKDAYS"},"checkInHour":{"type":"integer","format":"int64","description":"","default":"11"},"checkInMinute":{"type":"integer","format":"int64","description":""},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"ownerId":{"type":"integer","format":"int64","description":""},"adminMessage":{"type":"string","description":""},"denyMembersToLeave":{"type":"boolean","description":"","default":"false"},"member_count":{"type":"integer","format":"int64","description":""},"group_running_stats_id":{"type":"integer","format":"int64","description":""},"custom_support_services":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"contact_number":{"type":"string","description":""},"website_link":{"type":"string","description":""}}}},"running_stats":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"checkInCount":{"type":"integer","format":"int64","description":""},"groups_id":{"type":"integer","format":"int64","description":""},"todays_average":{"type":"object","description":"","nullable":true},"previous_average":{"type":"object","description":"","nullable":true},"updated_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"sum_x":{"type":"number","description":""},"sum_y":{"type":"number","description":""},"public_insight":{"type":"string","description":""},"public_insight_updated_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"daily_checkin_percent":{"type":"number","description":""},"weekly_checkin_percent":{"type":"number","description":""},"w1":{"type":"object","description":"","nullable":true},"w2":{"type":"object","description":"","nullable":true},"m1":{"type":"object","description":"","nullable":true},"m2":{"type":"object","description":"","nullable":true},"at":{"type":"object","description":"","nullable":true},"shift_t_p":{"type":"object","description":"","nullable":true},"shift_t_w1":{"type":"object","description":"","nullable":true},"shift_t_m1":{"type":"object","description":"","nullable":true},"shift_t_at":{"type":"object","description":"","nullable":true},"shift_w1_w2":{"type":"object","description":"","nullable":true},"shift_w1_m1":{"type":"object","description":"","nullable":true},"shift_w1_at":{"type":"object","description":"","nullable":true},"shift_m1_m2":{"type":"object","description":"","nullable":true},"shift_m1_at":{"type":"object","description":"","nullable":true},"direction_w1_w2":{"type":"object","description":"","nullable":true},"direction_m1_m2":{"type":"object","description":"","nullable":true},"direction_t_p":{"type":"object","description":"","nullable":true},"weekly_report":{"type":"object","description":"","nullable":true},"checkInMode":{"type":"object","properties":{"xy":{"type":"string","description":""},"count":{"type":"integer","format":"int64","description":""},"emotionText":{"type":"string","description":""},"coordinate_id":{"type":"integer","format":"int64","description":""},"emotion_states_id":{"type":"integer","format":"int64","description":""}}},"modeCheckInArray":{"type":"array","items":{"type":"object","properties":{"xy":{"type":"string","description":""},"count":{"type":"integer","format":"int64","description":""},"emotionText":{"type":"string","description":""},"coordinate_id":{"type":"integer","format":"int64","description":""},"emotion_states_id":{"type":"integer","format":"int64","description":""}}},"minItems":"0","maxItems":"64"},"recentCheckIns":{"type":"array","items":{"type":"object","properties":{"emotion_name":{"type":"string","description":""},"x":{"type":"number","description":""},"y":{"type":"number","description":""},"timestamp":{"type":"number","format":"timestamptz","description":"","nullable":true},"coordinate_id":{"type":"integer","format":"int64","description":""},"emotion_states_id":{"type":"integer","format":"int64","description":""},"users_id":{"type":"integer","format":"int64","description":""}}}}},"nullable":true}},"nullable":true},"user":{"type":"object","properties":{"firstName":{"type":"string","description":"","nullable":true},"lastName":{"type":"string","description":"","nullable":true},"email":{"type":"string","description":"","format":"email","nullable":true},"profilePic_url":{"type":"string","description":"","default":"https://xdny-scc5-yag9.a2.xano.io/vault/7gwBgMvy/o571IlKryejcfIyE3gx6vmMj5Vc/5oEHdQ../EP+-+Profile+Avatar.jpg"}},"nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/group/get_invite":{"post":{"operationId":"Mobile Native/group/get_invite|POST","summary":"Gets invite for authenticated User","description":"Gets invite for authenticated User\n<br /><br />\n<b>Authentication:</b> required","tags":["group"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"forest":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"reqStatus":{"type":"string","description":"","enum":["PENDING","ACCEPTED","REJECTED","REMOVED"]},"groupId":{"type":"integer","format":"int64","description":""},"userID":{"type":"integer","format":"int64","description":""},"role":{"type":"string","description":"","enum":["member","leader","mhfr support","owner","consultant","primary owner"]},"admin":{"type":"string","description":"","enum":["owner","admin","primary owner","none"],"default":"none"},"sinceOnDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"isAutoAccept":{"type":"boolean","description":"","default":"false"},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedById":{"type":"integer","format":"int64","description":""},"ackById":{"type":"string","description":""},"ackDate":{"type":"string","description":""},"adminMessage":{"type":"string","description":""},"permissionLevel":{"type":"integer","format":"int64","description":""},"isFavourite":{"type":"boolean","description":"","default":"false"},"favouriteOrderNo":{"type":"integer","format":"int64","description":""},"isPushDisabled":{"type":"boolean","description":"","default":"false"},"isOwner":{"type":"boolean","description":"","default":"false"},"isAutoJoined":{"type":"boolean","description":"","default":"false"},"removed_timestamp":{"type":"number","format":"timestamptz","description":"","nullable":true},"token_hash":{"type":"string","format":"uuid","description":"","nullable":true},"invite_expiry_date":{"type":"number","format":"timestamptz","description":"","nullable":true},"invitee_email":{"type":"string","description":"","format":"email"},"invitee_mobile_number":{"type":"string","description":""}}},"group":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"groupName":{"type":"string","description":""},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"groupRef":{"type":"string","description":""},"parentId":{"type":"integer","format":"int64","description":""},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"billing_group":{"type":"boolean","description":"","default":"false"},"primary_group_id":{"type":"integer","format":"int64","description":""},"pay_by_group_id":{"type":"integer","format":"int64","description":""},"is_primary":{"type":"boolean","description":"","default":"false"},"imageKey":{"type":"string","description":""},"coverImageKey":{"type":"string","description":""},"checkInOften":{"type":"string","description":"","enum":["DAILY","WEEKDAYS","WEEKLY","NONE"],"default":"WEEKDAYS"},"checkInHour":{"type":"integer","format":"int64","description":"","default":"11"},"checkInDays":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"checkInMinute":{"type":"integer","format":"int64","description":""},"insistent":{"type":"boolean","description":"","default":"false"},"isActive":{"type":"boolean","description":"","default":"1"},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"string","description":""},"ownerId":{"type":"integer","format":"int64","description":""},"createdById":{"type":"integer","format":"int64","description":""},"forestLimit":{"type":"integer","format":"int64","description":""},"isEnabledAutoAcceptJoinRequest":{"type":"string","description":""},"adminMessage":{"type":"string","description":""},"uniqueId":{"type":"string","description":""},"inviteURL":{"type":"string","description":""},"denyMembersToLeave":{"type":"boolean","description":"","default":"false"},"hasIncludedDependents":{"type":"boolean","description":"","default":"false"},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"microsoftTeamsIds":{"type":"string","description":""},"createdFrom":{"type":"string","description":""},"partnerUserId":{"type":"string","description":""},"copyToDependents":{"type":"string","description":""},"copiedFromParent":{"type":"string","description":""},"copiedFromParentId":{"type":"string","description":""},"member_count":{"type":"integer","format":"int64","description":""},"sub_group_count":{"type":"integer","format":"int64","description":""},"group_running_stats_id":{"type":"integer","format":"int64","description":""},"stripe_customer_id":{"type":"string","description":""},"custom_support_services":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"contact_number":{"type":"string","description":""},"website_link":{"type":"string","description":""}}}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"forest_id":{"type":"integer","format":"int64","description":""}},"required":["forest_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"forest_id":{"type":"integer","format":"int64","description":""}},"required":["forest_id"]}}}}}},"/group/get_running_stats/{group_running_stats_id}/":{"get":{"operationId":"Mobile Native/group/get_running_stats/{group_running_stats_id}/|GET","summary":"Get Group Running Stats record","description":"Get Group Running Stats record\n<br /><br />\n<b>Authentication:</b> not required","tags":["group"],"security":[],"parameters":[{"name":"group_running_stats_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/group/invite_users":{"post":{"operationId":"Mobile Native/group/invite_users|POST","summary":"Receives a string of email Comma Separated, Creates Forest Map, with Invite URL > Sends Notification","description":"Receives a string of email Comma Separated, Creates Forest Map, with Invite URL > Sends Notification\n<br /><br />\n<b>Authentication:</b> required","tags":["group"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"groupName":{"type":"string","description":""},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"groupRef":{"type":"string","description":""},"parentId":{"type":"integer","format":"int64","description":""},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"billing_group":{"type":"boolean","description":"","default":"false"},"primary_group_id":{"type":"integer","format":"int64","description":""},"pay_by_group_id":{"type":"integer","format":"int64","description":""},"is_primary":{"type":"boolean","description":"","default":"false"},"imageKey":{"type":"string","description":""},"coverImageKey":{"type":"string","description":""},"checkInOften":{"type":"string","description":"","enum":["DAILY","WEEKDAYS","WEEKLY","NONE"],"default":"WEEKDAYS"},"checkInHour":{"type":"integer","format":"int64","description":"","default":"11"},"checkInDays":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"checkInMinute":{"type":"integer","format":"int64","description":""},"insistent":{"type":"boolean","description":"","default":"false"},"isActive":{"type":"boolean","description":"","default":"1"},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"string","description":""},"ownerId":{"type":"integer","format":"int64","description":""},"createdById":{"type":"integer","format":"int64","description":""},"forestLimit":{"type":"integer","format":"int64","description":""},"isEnabledAutoAcceptJoinRequest":{"type":"string","description":""},"adminMessage":{"type":"string","description":""},"uniqueId":{"type":"string","description":""},"inviteURL":{"type":"string","description":""},"denyMembersToLeave":{"type":"boolean","description":"","default":"false"},"hasIncludedDependents":{"type":"boolean","description":"","default":"false"},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"microsoftTeamsIds":{"type":"string","description":""},"createdFrom":{"type":"string","description":""},"partnerUserId":{"type":"string","description":""},"copyToDependents":{"type":"string","description":""},"copiedFromParent":{"type":"string","description":""},"copiedFromParentId":{"type":"string","description":""},"member_count":{"type":"integer","format":"int64","description":""},"sub_group_count":{"type":"integer","format":"int64","description":""},"group_running_stats_id":{"type":"integer","format":"int64","description":""},"stripe_customer_id":{"type":"string","description":""},"custom_support_services":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"contact_number":{"type":"string","description":""},"website_link":{"type":"string","description":""}}}},"subscription":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"parentType":{"type":"string","description":""},"status":{"type":"string","description":"","enum":["Active","Cancelled","Paused","Payment Failed"]},"parentLevel":{"type":"integer","format":"int64","description":""},"subscriptionStripeId":{"type":"string","description":""},"subscriptionItemStripeId":{"type":"string","description":""},"stripe_customer_id":{"type":"string","description":""},"paymentInfoId":{"type":"string","description":""},"orgId":{"type":"integer","format":"int64","description":""},"timeZone":{"type":"string","description":""},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"groupId":{"type":"integer","format":"int64","description":""},"users_id":{"type":"integer","format":"int64","description":""},"plans_id":{"type":"integer","format":"int64","description":""},"createdById":{"type":"integer","format":"int64","description":""},"payByGroupId":{"type":"integer","format":"int64","description":""},"trialEndsAt":{"type":"string","format":"date","description":"","nullable":true}},"nullable":true}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"emails":{"type":"string","description":""},"group_id":{"type":"integer","format":"int64","description":""},"admin_message":{"type":"string","description":""},"user_access":{"type":"string","description":""},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"is_mobile_invite":{"type":"boolean","description":"","default":"false"},"phone_numbers":{"type":"array","items":{"type":"object","properties":{"raw_number":{"type":"string","description":""},"country_code":{"type":"string","description":""},"formatted_number":{"type":"string","description":""},"country_iso":{"type":"string","description":""}}}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"emails":{"type":"string","description":""},"group_id":{"type":"integer","format":"int64","description":""},"admin_message":{"type":"string","description":""},"user_access":{"type":"string","description":""},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"is_mobile_invite":{"type":"boolean","description":"","default":"false"},"phone_numbers":{"type":"array","items":{"type":"object","properties":{"raw_number":{"type":"string","description":""},"country_code":{"type":"string","description":""},"formatted_number":{"type":"string","description":""},"country_iso":{"type":"string","description":""}}}}}}}}}}},"/groups/accept_invite":{"post":{"operationId":"Mobile Native/groups/accept_invite|POST","summary":"Accepts a group invite","description":"Accepts a group invite\n<br /><br />\n<b>Authentication:</b> required","tags":["groups"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"reqStatus":{"type":"string","description":"","enum":["PENDING","ACCEPTED","REJECTED","REMOVED"]},"groupId":{"type":"integer","format":"int64","description":""},"userID":{"type":"integer","format":"int64","description":""},"role":{"type":"string","description":"","enum":["member","leader","mhfr support","owner","consultant","primary owner"]},"admin":{"type":"string","description":"","enum":["owner","admin","primary owner","none"],"default":"none"},"sinceOnDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"isAutoAccept":{"type":"boolean","description":"","default":"false"},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedById":{"type":"integer","format":"int64","description":""},"ackById":{"type":"string","description":""},"ackDate":{"type":"string","description":""},"adminMessage":{"type":"string","description":""},"permissionLevel":{"type":"integer","format":"int64","description":""},"isFavourite":{"type":"boolean","description":"","default":"false"},"favouriteOrderNo":{"type":"integer","format":"int64","description":""},"isPushDisabled":{"type":"boolean","description":"","default":"false"},"isOwner":{"type":"boolean","description":"","default":"false"},"isAutoJoined":{"type":"boolean","description":"","default":"false"},"removed_timestamp":{"type":"number","format":"timestamptz","description":"","nullable":true},"token_hash":{"type":"string","format":"uuid","description":"","nullable":true},"invite_expiry_date":{"type":"number","format":"timestamptz","description":"","nullable":true},"invitee_email":{"type":"string","description":"","format":"email"},"invitee_mobile_number":{"type":"string","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"forest_map_id":{"type":"integer","format":"int64","description":""}},"required":["forest_map_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"forest_map_id":{"type":"integer","format":"int64","description":""}},"required":["forest_map_id"]}}}}}},"/groups/decline_invite":{"post":{"operationId":"Mobile Native/groups/decline_invite|POST","summary":"Declines a group invite","description":"Declines a group invite\n<br /><br />\n<b>Authentication:</b> required","tags":["groups"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"reqStatus":{"type":"string","description":"","enum":["PENDING","ACCEPTED","REJECTED","REMOVED"]},"groupId":{"type":"integer","format":"int64","description":""},"userID":{"type":"integer","format":"int64","description":""},"role":{"type":"string","description":"","enum":["member","leader","mhfr support","owner","consultant","primary owner"]},"admin":{"type":"string","description":"","enum":["owner","admin","primary owner","none"],"default":"none"},"sinceOnDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"isAutoAccept":{"type":"boolean","description":"","default":"false"},"createdAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"updatedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"deletedAt":{"type":"number","format":"timestamptz","description":"","nullable":true},"requestedById":{"type":"integer","format":"int64","description":""},"ackById":{"type":"string","description":""},"ackDate":{"type":"string","description":""},"adminMessage":{"type":"string","description":""},"permissionLevel":{"type":"integer","format":"int64","description":""},"isFavourite":{"type":"boolean","description":"","default":"false"},"favouriteOrderNo":{"type":"integer","format":"int64","description":""},"isPushDisabled":{"type":"boolean","description":"","default":"false"},"isOwner":{"type":"boolean","description":"","default":"false"},"isAutoJoined":{"type":"boolean","description":"","default":"false"},"removed_timestamp":{"type":"number","format":"timestamptz","description":"","nullable":true},"token_hash":{"type":"string","format":"uuid","description":"","nullable":true},"invite_expiry_date":{"type":"number","format":"timestamptz","description":"","nullable":true},"invitee_email":{"type":"string","description":"","format":"email"},"invitee_mobile_number":{"type":"string","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"forest_map_id":{"type":"integer","format":"int64","description":""}},"required":["forest_map_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"forest_map_id":{"type":"integer","format":"int64","description":""}},"required":["forest_map_id"]}}}}}},"/groups/get_all":{"get":{"operationId":"Mobile Native/groups/get_all|GET","summary":"Gets all active groups and invites to groups for auth user","description":"Gets all active groups and invites to groups for auth user\n<br /><br />\n<b>Authentication:</b> required","tags":["groups"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"active_groups":{"type":"string"},"invites":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/notification/get_all":{"get":{"operationId":"Mobile Native/notification/get_all|GET","summary":"Query all Notifications records","description":"Query all Notifications records\n<br /><br />\n<b>Authentication:</b> required","tags":["notification"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"user_id","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"sentTo":{"type":"integer","format":"int64","description":""},"read":{"type":"boolean","description":"","default":"false"},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"type":{"type":"string","description":"the type of notifications","enum":["pair_request","pair_check-in","pair_accepted","user_reminder","pair_rejected","support_request","checkback","support_received","love","support_reminder","support_attempted","group_invite","pair_type_change","group_checkin","group_report"]},"title":{"type":"string","description":""},"message":{"type":"string","description":""},"payload":{"type":"object","description":"","nullable":true},"sentFrom":{"type":"integer","format":"int64","description":""},"delivered":{"type":"boolean","description":"","default":"false"},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"requires_action":{"type":"boolean","description":"","default":"false"}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/notification/mark_all_read":{"post":{"operationId":"Mobile Native/notification/mark_all_read|POST","summary":"Marks Bulk Notifications as Read","description":"Marks Bulk Notifications as Read\n<br /><br />\n<b>Authentication:</b> required","tags":["notification"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"notification_ids":{"type":"array","items":{"type":"integer","format":"int64","description":""}}},"required":["notification_ids"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"notification_ids":{"type":"array","items":{"type":"integer","format":"int64","description":""}}},"required":["notification_ids"]}}}}}},"/notification/mark_read":{"patch":{"operationId":"Mobile Native/notification/mark_read|PATCH","summary":"Mark notification as read by User","description":"Mark notification as read by User\n<br /><br />\n<b>Authentication:</b> required","tags":["notification"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"sentTo":{"type":"integer","format":"int64","description":""},"read":{"type":"boolean","description":"","default":"false"},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"type":{"type":"string","description":"the type of notifications","enum":["pair_request","pair_check-in","pair_accepted","user_reminder","pair_rejected","support_request","checkback","support_received","love","support_reminder","support_attempted","group_invite","pair_type_change","group_checkin","group_report"]},"title":{"type":"string","description":""},"message":{"type":"string","description":""},"payload":{"type":"object","description":"","nullable":true},"sentFrom":{"type":"integer","format":"int64","description":""},"delivered":{"type":"boolean","description":"","default":"false"},"twilio_response":{"type":"object","description":"","nullable":true},"sendgrid_response":{"type":"object","description":"","nullable":true},"scheduled_at":{"type":"number","format":"timestamptz","description":"","nullable":true},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"requires_action":{"type":"boolean","description":"","default":"false"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"notification_id":{"type":"integer","format":"int64","description":""}},"required":["notification_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"notification_id":{"type":"integer","format":"int64","description":""}},"required":["notification_id"]}}}}}},"/onboarding/complete":{"post":{"operationId":"Mobile Native/onboarding/complete|POST","summary":"Marks user onboarding is completed","description":"Marks user onboarding is completed\n<br /><br />\n<b>Authentication:</b> required","tags":["onboarding"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"firstName":{"type":"string","description":"","nullable":true},"lastName":{"type":"string","description":"","nullable":true},"lastCheckInDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"email":{"type":"string","description":"","format":"email","nullable":true},"phoneNumber":{"type":"string","description":""},"access":{"type":"string","description":"","enum":["Free","Activator","Workplace"],"default":"Free"},"password":{"type":"string","description":"","format":"password","nullable":true},"fullName":{"type":"string","description":""},"profilePic_url":{"type":"string","description":"","default":"https://xdny-scc5-yag9.a2.xano.io/vault/7gwBgMvy/o571IlKryejcfIyE3gx6vmMj5Vc/5oEHdQ../EP+-+Profile+Avatar.jpg"},"recentStateCoordinates":{"type":"integer","format":"int64","description":""},"recentStateEmotion_data":{"type":"integer","format":"int64","description":""},"recentCheckIn_full":{"type":"integer","format":"int64","description":""},"running_stats_id":{"type":"integer","format":"int64","description":""},"recentStateCoordinateDisplay":{"type":"string","description":""},"recentEmotion_text":{"type":"string","description":""},"openai_threadID":{"type":"string","description":""},"verificationCode":{"type":"integer","format":"int64","description":""},"emailVerified":{"type":"boolean","description":"","default":"false"},"phoneVerified":{"type":"boolean","description":"","default":"false"},"intro_slides_seen":{"type":"boolean","description":"","default":"false"},"mic_permissions":{"type":"boolean","description":"","default":"false"},"seen_mic_permission_popup":{"type":"boolean","description":"","default":"false"},"seen_dependency_popup":{"type":"boolean","description":"","default":"false"},"seen_trend_card":{"type":"boolean","description":"","default":"false"},"seen_user_reminder_setting":{"type":"boolean","description":"","default":"false"},"set_custom_user_reminder":{"type":"boolean","description":"","default":"false"},"onboarding_complete":{"type":"boolean","description":"","default":"false"},"currently_enrolled":{"type":"boolean","description":"","default":"false"},"course_completed":{"type":"boolean","description":"","default":"false"},"onboarding_step":{"type":"integer","format":"int64","description":"","default":"1"},"current_threadID":{"type":"string","description":""},"pairs_id":{"type":"array","items":{"type":"integer","format":"int64","description":"list of pair IDs"}},"last_seen":{"type":"number","format":"timestamptz","description":"","nullable":true},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"weekly_report_day":{"type":"integer","format":"int64","description":"Days of week from 1-7","default":"5"},"reliability_score":{"type":"number","description":""},"country":{"type":"string","description":""},"seen_sections":{"type":"array","items":{"type":"object"}},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"activator_subscription":{"type":"integer","format":"int64","description":""},"status":{"type":"string","description":"","enum":["active","invited","deactivated"]},"microsoft_id":{"type":"string","description":""},"microsoft_tenant_id":{"type":"string","description":""},"microsoft_conversation_id":{"type":"string","description":""},"microsoft_service_url":{"type":"string","description":""},"test_version":{"type":"boolean","description":"","default":"false"},"microsoft_access_token":{"type":"string","description":"","format":"password"},"microsoft_refresh_token":{"type":"string","description":"","format":"password"},"microsoft_token_expiry":{"type":"number","format":"timestamptz","description":"","nullable":true},"reminder_frequency":{"type":"string","description":"","enum":["WEEKDAYS","WEEKLY","DAILY","NONE"]},"reminder_hour":{"type":"integer","format":"int64","description":"","default":"11"},"reminder_min":{"type":"integer","format":"int64","description":""},"reminder_day":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"source":{"type":"string","description":""},"AWS_user_id":{"type":"integer","format":"int64","description":""},"AWS_synced":{"type":"boolean","description":"","default":"false"},"AWS_migrated":{"type":"boolean","description":"","default":"false"},"apple":{"type":"object","description":"","nullable":true},"apple_id":{"type":"string","description":""},"app_profile_banner_url":{"type":"string","description":""},"onesignal_subscription_id":{"type":"string","description":""},"Profile_Pic_File":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true},"checkin_logs":{"type":"array","items":{"type":"object","properties":{"weekday":{"type":"integer","format":"int64","description":""},"day_initial":{"type":"string","description":""},"checkedin":{"type":"boolean","description":"","default":"false"}}}},"magic_link2":{"type":"object","properties":{"token":{"type":"string","description":""},"expiration":{"type":"number","format":"timestamptz","description":"","nullable":true},"used":{"type":"boolean","description":"","default":"false"}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/onboarding/email_verified":{"post":{"operationId":"Mobile Native/onboarding/email_verified|POST","summary":"Marks auth user phone as verified","description":"Marks auth user phone as verified\n<br /><br />\n<b>Authentication:</b> required","tags":["onboarding"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"firstName":{"type":"string","description":"","nullable":true},"lastName":{"type":"string","description":"","nullable":true},"lastCheckInDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"email":{"type":"string","description":"","format":"email","nullable":true},"phoneNumber":{"type":"string","description":""},"access":{"type":"string","description":"","enum":["Free","Activator","Workplace"],"default":"Free"},"password":{"type":"string","description":"","format":"password","nullable":true},"fullName":{"type":"string","description":""},"profilePic_url":{"type":"string","description":"","default":"https://xdny-scc5-yag9.a2.xano.io/vault/7gwBgMvy/o571IlKryejcfIyE3gx6vmMj5Vc/5oEHdQ../EP+-+Profile+Avatar.jpg"},"recentStateCoordinates":{"type":"integer","format":"int64","description":""},"recentStateEmotion_data":{"type":"integer","format":"int64","description":""},"recentCheckIn_full":{"type":"integer","format":"int64","description":""},"running_stats_id":{"type":"integer","format":"int64","description":""},"recentStateCoordinateDisplay":{"type":"string","description":""},"recentEmotion_text":{"type":"string","description":""},"openai_threadID":{"type":"string","description":""},"verificationCode":{"type":"integer","format":"int64","description":""},"emailVerified":{"type":"boolean","description":"","default":"false"},"phoneVerified":{"type":"boolean","description":"","default":"false"},"intro_slides_seen":{"type":"boolean","description":"","default":"false"},"mic_permissions":{"type":"boolean","description":"","default":"false"},"seen_mic_permission_popup":{"type":"boolean","description":"","default":"false"},"seen_dependency_popup":{"type":"boolean","description":"","default":"false"},"seen_trend_card":{"type":"boolean","description":"","default":"false"},"seen_user_reminder_setting":{"type":"boolean","description":"","default":"false"},"set_custom_user_reminder":{"type":"boolean","description":"","default":"false"},"onboarding_complete":{"type":"boolean","description":"","default":"false"},"currently_enrolled":{"type":"boolean","description":"","default":"false"},"course_completed":{"type":"boolean","description":"","default":"false"},"onboarding_step":{"type":"integer","format":"int64","description":"","default":"1"},"current_threadID":{"type":"string","description":""},"pairs_id":{"type":"array","items":{"type":"integer","format":"int64","description":"list of pair IDs"}},"last_seen":{"type":"number","format":"timestamptz","description":"","nullable":true},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"weekly_report_day":{"type":"integer","format":"int64","description":"Days of week from 1-7","default":"5"},"reliability_score":{"type":"number","description":""},"country":{"type":"string","description":""},"seen_sections":{"type":"array","items":{"type":"object"}},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"activator_subscription":{"type":"integer","format":"int64","description":""},"status":{"type":"string","description":"","enum":["active","invited","deactivated"]},"microsoft_id":{"type":"string","description":""},"microsoft_tenant_id":{"type":"string","description":""},"microsoft_conversation_id":{"type":"string","description":""},"microsoft_service_url":{"type":"string","description":""},"test_version":{"type":"boolean","description":"","default":"false"},"microsoft_access_token":{"type":"string","description":"","format":"password"},"microsoft_refresh_token":{"type":"string","description":"","format":"password"},"microsoft_token_expiry":{"type":"number","format":"timestamptz","description":"","nullable":true},"reminder_frequency":{"type":"string","description":"","enum":["WEEKDAYS","WEEKLY","DAILY","NONE"]},"reminder_hour":{"type":"integer","format":"int64","description":"","default":"11"},"reminder_min":{"type":"integer","format":"int64","description":""},"reminder_day":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"source":{"type":"string","description":""},"AWS_user_id":{"type":"integer","format":"int64","description":""},"AWS_synced":{"type":"boolean","description":"","default":"false"},"AWS_migrated":{"type":"boolean","description":"","default":"false"},"apple":{"type":"object","description":"","nullable":true},"apple_id":{"type":"string","description":""},"app_profile_banner_url":{"type":"string","description":""},"onesignal_subscription_id":{"type":"string","description":""},"Profile_Pic_File":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true},"checkin_logs":{"type":"array","items":{"type":"object","properties":{"weekday":{"type":"integer","format":"int64","description":""},"day_initial":{"type":"string","description":""},"checkedin":{"type":"boolean","description":"","default":"false"}}}},"magic_link2":{"type":"object","properties":{"token":{"type":"string","description":""},"expiration":{"type":"number","format":"timestamptz","description":"","nullable":true},"used":{"type":"boolean","description":"","default":"false"}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/onboarding/intro_slides_seen":{"post":{"operationId":"Mobile Native/onboarding/intro_slides_seen|POST","summary":"Marks current user 'intro_slides' as true","description":"Marks current user 'intro_slides' as true\n<br /><br />\n<b>Authentication:</b> required","tags":["onboarding"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"firstName":{"type":"string","description":"","nullable":true},"lastName":{"type":"string","description":"","nullable":true},"lastCheckInDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"email":{"type":"string","description":"","format":"email","nullable":true},"phoneNumber":{"type":"string","description":""},"access":{"type":"string","description":"","enum":["Free","Activator","Workplace"],"default":"Free"},"password":{"type":"string","description":"","format":"password","nullable":true},"fullName":{"type":"string","description":""},"profilePic_url":{"type":"string","description":"","default":"https://xdny-scc5-yag9.a2.xano.io/vault/7gwBgMvy/o571IlKryejcfIyE3gx6vmMj5Vc/5oEHdQ../EP+-+Profile+Avatar.jpg"},"recentStateCoordinates":{"type":"integer","format":"int64","description":""},"recentStateEmotion_data":{"type":"integer","format":"int64","description":""},"recentCheckIn_full":{"type":"integer","format":"int64","description":""},"running_stats_id":{"type":"integer","format":"int64","description":""},"recentStateCoordinateDisplay":{"type":"string","description":""},"recentEmotion_text":{"type":"string","description":""},"openai_threadID":{"type":"string","description":""},"verificationCode":{"type":"integer","format":"int64","description":""},"emailVerified":{"type":"boolean","description":"","default":"false"},"phoneVerified":{"type":"boolean","description":"","default":"false"},"intro_slides_seen":{"type":"boolean","description":"","default":"false"},"mic_permissions":{"type":"boolean","description":"","default":"false"},"seen_mic_permission_popup":{"type":"boolean","description":"","default":"false"},"seen_dependency_popup":{"type":"boolean","description":"","default":"false"},"seen_trend_card":{"type":"boolean","description":"","default":"false"},"seen_user_reminder_setting":{"type":"boolean","description":"","default":"false"},"set_custom_user_reminder":{"type":"boolean","description":"","default":"false"},"onboarding_complete":{"type":"boolean","description":"","default":"false"},"currently_enrolled":{"type":"boolean","description":"","default":"false"},"course_completed":{"type":"boolean","description":"","default":"false"},"onboarding_step":{"type":"integer","format":"int64","description":"","default":"1"},"current_threadID":{"type":"string","description":""},"pairs_id":{"type":"array","items":{"type":"integer","format":"int64","description":"list of pair IDs"}},"last_seen":{"type":"number","format":"timestamptz","description":"","nullable":true},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"weekly_report_day":{"type":"integer","format":"int64","description":"Days of week from 1-7","default":"5"},"reliability_score":{"type":"number","description":""},"country":{"type":"string","description":""},"seen_sections":{"type":"array","items":{"type":"object"}},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"activator_subscription":{"type":"integer","format":"int64","description":""},"status":{"type":"string","description":"","enum":["active","invited","deactivated"]},"microsoft_id":{"type":"string","description":""},"microsoft_tenant_id":{"type":"string","description":""},"microsoft_conversation_id":{"type":"string","description":""},"microsoft_service_url":{"type":"string","description":""},"test_version":{"type":"boolean","description":"","default":"false"},"microsoft_access_token":{"type":"string","description":"","format":"password"},"microsoft_refresh_token":{"type":"string","description":"","format":"password"},"microsoft_token_expiry":{"type":"number","format":"timestamptz","description":"","nullable":true},"reminder_frequency":{"type":"string","description":"","enum":["WEEKDAYS","WEEKLY","DAILY","NONE"]},"reminder_hour":{"type":"integer","format":"int64","description":"","default":"11"},"reminder_min":{"type":"integer","format":"int64","description":""},"reminder_day":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"source":{"type":"string","description":""},"AWS_user_id":{"type":"integer","format":"int64","description":""},"AWS_synced":{"type":"boolean","description":"","default":"false"},"AWS_migrated":{"type":"boolean","description":"","default":"false"},"apple":{"type":"object","description":"","nullable":true},"apple_id":{"type":"string","description":""},"app_profile_banner_url":{"type":"string","description":""},"onesignal_subscription_id":{"type":"string","description":""},"Profile_Pic_File":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true},"checkin_logs":{"type":"array","items":{"type":"object","properties":{"weekday":{"type":"integer","format":"int64","description":""},"day_initial":{"type":"string","description":""},"checkedin":{"type":"boolean","description":"","default":"false"}}}},"magic_link2":{"type":"object","properties":{"token":{"type":"string","description":""},"expiration":{"type":"number","format":"timestamptz","description":"","nullable":true},"used":{"type":"boolean","description":"","default":"false"}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/onboarding/mark_course_enrollment_seen":{"patch":{"operationId":"Mobile Native/onboarding/mark_course_enrollment_seen|PATCH","summary":"Marks the onboarding process for course_seen as true","description":"Marks the onboarding process for course_seen as true\n<br /><br />\n<b>Authentication:</b> required","tags":["onboarding"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"firstName":{"type":"string","description":"","nullable":true},"lastName":{"type":"string","description":"","nullable":true},"lastCheckInDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"email":{"type":"string","description":"","format":"email","nullable":true},"phoneNumber":{"type":"string","description":""},"access":{"type":"string","description":"","enum":["Free","Activator","Workplace"],"default":"Free"},"password":{"type":"string","description":"","format":"password","nullable":true},"fullName":{"type":"string","description":""},"profilePic_url":{"type":"string","description":"","default":"https://xdny-scc5-yag9.a2.xano.io/vault/7gwBgMvy/o571IlKryejcfIyE3gx6vmMj5Vc/5oEHdQ../EP+-+Profile+Avatar.jpg"},"recentStateCoordinates":{"type":"integer","format":"int64","description":""},"recentStateEmotion_data":{"type":"integer","format":"int64","description":""},"recentCheckIn_full":{"type":"integer","format":"int64","description":""},"running_stats_id":{"type":"integer","format":"int64","description":""},"recentStateCoordinateDisplay":{"type":"string","description":""},"recentEmotion_text":{"type":"string","description":""},"openai_threadID":{"type":"string","description":""},"verificationCode":{"type":"integer","format":"int64","description":""},"emailVerified":{"type":"boolean","description":"","default":"false"},"phoneVerified":{"type":"boolean","description":"","default":"false"},"intro_slides_seen":{"type":"boolean","description":"","default":"false"},"mic_permissions":{"type":"boolean","description":"","default":"false"},"seen_mic_permission_popup":{"type":"boolean","description":"","default":"false"},"seen_dependency_popup":{"type":"boolean","description":"","default":"false"},"seen_trend_card":{"type":"boolean","description":"","default":"false"},"seen_user_reminder_setting":{"type":"boolean","description":"","default":"false"},"set_custom_user_reminder":{"type":"boolean","description":"","default":"false"},"onboarding_complete":{"type":"boolean","description":"","default":"false"},"currently_enrolled":{"type":"boolean","description":"","default":"false"},"course_completed":{"type":"boolean","description":"","default":"false"},"onboarding_step":{"type":"integer","format":"int64","description":"","default":"1"},"current_threadID":{"type":"string","description":""},"pairs_id":{"type":"array","items":{"type":"integer","format":"int64","description":"list of pair IDs"}},"last_seen":{"type":"number","format":"timestamptz","description":"","nullable":true},"timezone":{"type":"string","description":"","default":"Australia/Melbourne"},"weekly_report_day":{"type":"integer","format":"int64","description":"Days of week from 1-7","default":"5"},"reliability_score":{"type":"number","description":""},"country":{"type":"string","description":""},"seen_sections":{"type":"array","items":{"type":"object"}},"group_subscriptions_id":{"type":"integer","format":"int64","description":""},"activator_subscription":{"type":"integer","format":"int64","description":""},"status":{"type":"string","description":"","enum":["active","invited","deactivated"]},"microsoft_id":{"type":"string","description":""},"microsoft_tenant_id":{"type":"string","description":""},"microsoft_conversation_id":{"type":"string","description":""},"microsoft_service_url":{"type":"string","description":""},"test_version":{"type":"boolean","description":"","default":"false"},"microsoft_access_token":{"type":"string","description":"","format":"password"},"microsoft_refresh_token":{"type":"string","description":"","format":"password"},"microsoft_token_expiry":{"type":"number","format":"timestamptz","description":"","nullable":true},"reminder_frequency":{"type":"string","description":"","enum":["WEEKDAYS","WEEKLY","DAILY","NONE"]},"reminder_hour":{"type":"integer","format":"int64","description":"","default":"11"},"reminder_min":{"type":"integer","format":"int64","description":""},"reminder_day":{"type":"array","items":{"type":"integer","format":"int64","description":""}},"source":{"type":"string","description":""},"AWS_user_id":{"type":"integer","format":"int64","description":""},"AWS_synced":{"type":"boolean","description":"","default":"false"},"AWS_migrated":{"type":"boolean","description":"","default":"false"},"apple":{"type":"object","description":"","nullable":true},"apple_id":{"type":"string","description":""},"app_profile_banner_url":{"type":"string","description":""},"onesignal_subscription_id":{"type":"string","description":""},"Profile_Pic_File":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""},"url":{"type":"string","description":"","nullable":true}},"nullable":true},"checkin_logs":{"type":"array","items":{"type":"object","properties":{"weekday":{"type":"integer","format":"int64","description":""},"day_initial":{"type":"string","description":""},"checkedin":{"type":"boolean","description":"","default":"false"}}}},"magic_link2":{"type":"object","properties":{"token":{"type":"string","description":""},"expiration":{"type":"number","format":"timestamptz","description":"","nullable":true},"used":{"type":"boolean","description":"","default":"false"}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"users_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"users_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/onboarding/phone_verified":{"post":{"operationId":"Mobile Native/onboarding/phone_verified|POST","summary":"Marks auth user phone as verified","description":"Marks auth user phone as verified\n<br /><br />\n<b>Authentication:</b> required","tags":["onboarding"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"firstName":{"type":"string","description":"","nullable":true},"lastName":{"type":"string","description":"","nullable":true},"lastCheckInDate":{"type":"number","format":"timestamptz","description":"","nullable":true},"email":{"type":"string","description":"","format":"email","nullable":true},"phoneNumber":{"type":"string","description":""},"access":{"type":"string","description":"","enum":["Free","Activator","Workplace"],"default":"Free"},"password":{"type":"string","description":"","format":"password","nullable":true},"fullName":{"type":"string","description":""},"profilePic_url"
[...]
