{
  "openapi": "3.0.0",
  "info": {
    "title": "api",
    "description": "Simplified endpoints for optimised performance & data handling for Native Mobile app",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://xdny-scc5-yag9.a2.xano.io/api:LmTnxskw"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/auth/2fa/generateCode": {
      "post": {
        "operationId": "api/auth/2fa/generateCode|POST",
        "summary": "Generates a 2fa code and sends via email to user requesting for authentication",
        "description": "Generates a 2fa code and sends via email to user requesting for authentication\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "email",
                      "phone"
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "email",
                      "phone"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/2fa/signinwithmobile": {
      "post": {
        "operationId": "api/auth/2fa/signinwithmobile|POST",
        "summary": "Generates a 2fa code and sends via email to user requesting for authentication",
        "description": "Generates a 2fa code and sends via email to user requesting for authentication\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": ""
                  },
                  "country_iso": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": ""
                  },
                  "country_iso": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/2fa/verifyCode": {
      "post": {
        "operationId": "api/auth/2fa/verifyCode|POST",
        "summary": "Checks the Verification Code of the Authenticated User, Returns a boolean",
        "description": "Checks the Verification Code of the Authenticated User, Returns a boolean\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verified": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationCode": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "verificationCode"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationCode": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                },
                "required": [
                  "verificationCode"
                ]
              }
            }
          }
        }
      }
    },
    "/auth/2fa/verifyMobileCode": {
      "post": {
        "operationId": "api/auth/2fa/verifyMobileCode|POST",
        "summary": "Checks the Verification Code of the Authenticated User, Returns a boolean",
        "description": "Checks the Verification Code of the Authenticated User, Returns a boolean\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "string"
                    },
                    "authToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationCode": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "user_id": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "verificationCode"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationCode": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "user_id": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "verificationCode"
                ]
              }
            }
          }
        }
      }
    },
    "/auth/apple/callback": {
      "post": {
        "operationId": "api/auth/apple/callback|POST",
        "summary": "Apple Sign-In authentication endpoint\nAuthenticate user via Apple ID identity token\nStep 7 — Return the response",
        "description": "Apple Sign-In authentication endpoint\nAuthenticate user via Apple ID identity token\nStep 7 — Return the response\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity_token": {
                    "type": "string",
                    "description": "The identity_token (JWT) received from Apple"
                  },
                  "raw_nonce": {
                    "type": "string",
                    "description": "The raw nonce sent from the app to prevent replay attacks"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Optional first name sent by Apple (only on first sign-in)",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Optional last name sent by Apple (only on first sign-in)",
                    "nullable": true
                  }
                },
                "required": [
                  "identity_token",
                  "raw_nonce"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity_token": {
                    "type": "string",
                    "description": "The identity_token (JWT) received from Apple"
                  },
                  "raw_nonce": {
                    "type": "string",
                    "description": "The raw nonce sent from the app to prevent replay attacks"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Optional first name sent by Apple (only on first sign-in)",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Optional last name sent by Apple (only on first sign-in)",
                    "nullable": true
                  }
                },
                "required": [
                  "identity_token",
                  "raw_nonce"
                ]
              }
            }
          }
        }
      }
    },
    "/auth/aws_synced": {
      "post": {
        "operationId": "api/auth/aws_synced|POST",
        "summary": "Marks auth user aws_synced is true",
        "description": "Marks auth user aws_synced is true\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "lastCheckInDate": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "description": "",
                      "format": "email",
                      "nullable": true
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": ""
                    },
                    "access": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "Free",
                        "Activator",
                        "Workplace"
                      ],
                      "default": "Free"
                    },
                    "password": {
                      "type": "string",
                      "description": "",
                      "format": "password",
                      "nullable": true
                    },
                    "fullName": {
                      "type": "string",
                      "description": ""
                    },
                    "profilePic_url": {
                      "type": "string",
                      "description": ""
                    },
                    "profile_hex_colour": {
                      "type": "string",
                      "description": ""
                    },
                    "recentStateCoordinates": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "recentStateEmotion_data": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "recentCheckIn_full": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "running_stats_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "recentStateCoordinateDisplay": {
                      "type": "string",
                      "description": ""
                    },
                    "recentEmotion_text": {
                      "type": "string",
                      "description": ""
                    },
                    "openai_threadID": {
                      "type": "string",
                      "description": ""
                    },
                    "verificationCode": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "emailVerified": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "phoneVerified": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "intro_slides_seen": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "mic_permissions": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_mic_permission_popup": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_dependency_popup": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_trend_card": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_user_reminder_setting": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "set_custom_user_reminder": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "onboarding_complete": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "currently_enrolled": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "course_completed": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "checkin_with_grid": {
                      "type": "boolean",
                      "description": "",
                      "default": "1"
                    },
                    "first_group_onboarding": {
                      "type": "object",
                      "description": "contains all the information about the first group onboarding progress",
                      "nullable": true
                    },
                    "onboarding_step": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "default": "1"
                    },
                    "current_threadID": {
                      "type": "string",
                      "description": ""
                    },
                    "pairs_id": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int64",
                        "description": "list of pair IDs"
                      }
                    },
                    "last_seen": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "timezone": {
                      "type": "string",
                      "description": "",
                      "default": "Australia/Melbourne"
                    },
                    "weekly_report_day": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Days of week from 1-7",
                      "default": "5"
                    },
                    "reliability_score": {
                      "type": "number",
                      "description": ""
                    },
                    "country": {
                      "type": "string",
                      "description": ""
                    },
                    "seen_sections": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "group_subscriptions_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "activator_subscription": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "status": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "active",
                        "invited",
                        "deactivated"
                      ],
                      "default": "active"
                    },
                    "microsoft_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_tenant_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_conversation_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_service_url": {
                      "type": "string",
                      "description": ""
                    },
                    "test_version": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "microsoft_access_token": {
                      "type": "string",
                      "description": "",
                      "format": "password"
                    },
                    "microsoft_refresh_token": {
                      "type": "string",
                      "description": "",
                      "format": "password"
                    },
                    "microsoft_token_expiry": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "reminder_frequency": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "WEEKDAYS",
                        "WEEKLY",
                        "DAILY",
                        "NONE"
                      ]
                    },
                    "reminder_hour": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "default": "11"
                    },
                    "reminder_min": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "reminder_day": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": ""
                    },
                    "AWS_user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "AWS_synced": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "AWS_migrated": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "apple": {
                      "type": "object",
                      "description": "",
                      "nullable": true
                    },
                    "apple_id": {
                      "type": "string",
                      "description": ""
                    },
                    "app_profile_banner_url": {
                      "type": "string",
                      "description": ""
                    },
                    "onesignal_subscription_id": {
                      "type": "string",
                      "description": ""
                    },
                    "preferred_checkin_view": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "grid",
                        "slider"
                      ],
                      "default": "slider"
                    },
                    "apple_user_id": {
                      "type": "string",
                      "description": ""
                    },
                    "correlation_id": {
                      "type": "string",
                      "description": ""
                    },
                    "Profile_Pic_File": {
                      "type": "object",
                      "properties": {
                        "access": {
                          "type": "string",
                          "description": "",
                          "enum": [
                            "public",
                            "private"
                          ],
                          "default": "public"
                        },
                        "path": {
                          "type": "string",
                          "description": ""
                        },
                        "name": {
                          "type": "string",
                          "description": ""
                        },
                        "type": {
                          "type": "string",
                          "description": ""
                        },
                        "size": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "mime": {
                          "type": "string",
                          "description": ""
                        },
                        "meta": {
                          "type": "object",
                          "description": ""
                        },
                        "url": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        }
                      },
                      "nullable": true
                    },
                    "checkin_logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "weekday": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "day_initial": {
                            "type": "string",
                            "description": ""
                          },
                          "checkedin": {
                            "type": "boolean",
                            "description": "",
                            "default": "false"
                          }
                        }
                      }
                    },
                    "magic_link2": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": ""
                        },
                        "expiration": {
                          "type": "number",
                          "format": "timestamptz",
                          "description": "",
                          "nullable": true
                        },
                        "used": {
                          "type": "boolean",
                          "description": "",
                          "default": "false"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/auth/elevenlabs/token": {
      "post": {
        "operationId": "api/auth/elevenlabs/token|POST",
        "summary": "Generates an Elevenlabs token to allow for websocket realtime.",
        "description": "Generates an Elevenlabs token to allow for websocket realtime.\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/auth/generateCodeWithId": {
      "post": {
        "operationId": "api/auth/generateCodeWithId|POST",
        "summary": "Generates a 2fa code and sends via email to user requesting for authentication",
        "description": "Generates a 2fa code and sends via email to user requesting for authentication\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "email",
                      "phone"
                    ]
                  },
                  "users_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "",
                    "enum": [
                      "email",
                      "phone"
                    ]
                  },
                  "users_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/is_migrated_user1": {
      "post": {
        "operationId": "api/auth/is_migrated_user1|POST",
        "summary": "Login and retrieve an authentication token",
        "description": "Login and retrieve an authentication token\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "",
                    "format": "email"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "api/auth/login|POST",
        "summary": "Login and retrieve an authentication token",
        "description": "Login and retrieve an authentication token\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/magic-login-access": {
      "post": {
        "operationId": "api/auth/magic-login-access|POST",
        "summary": "Exchanges magic token for auth token. Logs in user with the link.",
        "description": "Exchanges magic token for auth token. Logs in user with the link.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "magic_token": {
                    "type": "string",
                    "description": "",
                    "default": "eyJhbGciOiJBMjU2S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwiemlwIjoiREVGIn0._BiILSKG988mlAMxvbjW_jbNRDLlLDIpOSWPRX10hOVX9MW1rIxfen1SjuIj-QnXI9gIQ4LeTlzVmGh90Rk_N21YG1BTHdp5.dnaxqZJjkoRhldvkS6bPTQ.XS7QwmLqdvhSUKOsxJedw0HJMxzUEwJH1NoJ20ZrNgrLTL05CWtix7StFSL6qpjLJNZrkueW0O6ShDrxNo9m3ZS7wdlkd2ttjmtypTSd5DI.ZHp7NBqhHisPEUyG0yubQsf9EFH1xJrKePIpmXVLh30"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "magic_token": {
                    "type": "string",
                    "description": "",
                    "default": "eyJhbGciOiJBMjU2S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwiemlwIjoiREVGIn0._BiILSKG988mlAMxvbjW_jbNRDLlLDIpOSWPRX10hOVX9MW1rIxfen1SjuIj-QnXI9gIQ4LeTlzVmGh90Rk_N21YG1BTHdp5.dnaxqZJjkoRhldvkS6bPTQ.XS7QwmLqdvhSUKOsxJedw0HJMxzUEwJH1NoJ20ZrNgrLTL05CWtix7StFSL6qpjLJNZrkueW0O6ShDrxNo9m3ZS7wdlkd2ttjmtypTSd5DI.ZHp7NBqhHisPEUyG0yubQsf9EFH1xJrKePIpmXVLh30"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/merge_accounts": {
      "put": {
        "operationId": "api/auth/merge_accounts|PUT",
        "summary": "Allows the merging of existing accounts to occur.",
        "description": "Allows the merging of existing accounts to occur.\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result1": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "email": {
                          "type": "string",
                          "description": "",
                          "format": "email",
                          "nullable": true
                        },
                        "phoneNumber": {
                          "type": "string",
                          "description": ""
                        },
                        "fullName": {
                          "type": "string",
                          "description": ""
                        },
                        "phoneVerified": {
                          "type": "boolean",
                          "description": "",
                          "default": "false"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "existing_user_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "existing_user_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "api/auth/me|GET",
        "summary": "Get the record belonging to the authentication token",
        "description": "Get the record belonging to the authentication token\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "lastCheckInDate": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "description": "",
                      "format": "email",
                      "nullable": true
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": ""
                    },
                    "access": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "Free",
                        "Activator",
                        "Workplace"
                      ],
                      "default": "Free"
                    },
                    "fullName": {
                      "type": "string",
                      "description": ""
                    },
                    "profilePic_url": {
                      "type": "string",
                      "description": ""
                    },
                    "profile_hex_colour": {
                      "type": "string",
                      "description": ""
                    },
                    "recentStateCoordinates": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "recentCheckIn_full": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "running_stats_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "openai_threadID": {
                      "type": "string",
                      "description": ""
                    },
                    "verificationCode": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "emailVerified": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "phoneVerified": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "intro_slides_seen": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "mic_permissions": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_mic_permission_popup": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_dependency_popup": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_trend_card": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_user_reminder_setting": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "set_custom_user_reminder": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "onboarding_complete": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "currently_enrolled": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "course_completed": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "onboarding_step": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "default": "1"
                    },
                    "current_threadID": {
                      "type": "string",
                      "description": ""
                    },
                    "last_seen": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "timezone": {
                      "type": "string",
                      "description": "",
                      "default": "Australia/Melbourne"
                    },
                    "weekly_report_day": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Days of week from 1-7",
                      "default": "5"
                    },
                    "reliability_score": {
                      "type": "number",
                      "description": ""
                    },
                    "country": {
                      "type": "string",
                      "description": ""
                    },
                    "group_subscriptions_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "activator_subscription": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "status": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "active",
                        "invited",
                        "deactivated"
                      ],
                      "default": "active"
                    },
                    "microsoft_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_tenant_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_conversation_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_service_url": {
                      "type": "string",
                      "description": ""
                    },
                    "test_version": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "microsoft_token_expiry": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "reminder_frequency": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "WEEKDAYS",
                        "WEEKLY",
                        "DAILY",
                        "NONE"
                      ]
                    },
                    "reminder_hour": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "default": "11"
                    },
                    "reminder_min": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "source": {
                      "type": "string",
                      "description": ""
                    },
                    "AWS_user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "AWS_synced": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "AWS_migrated": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "apple": {
                      "type": "object",
                      "description": "",
                      "nullable": true
                    },
                    "apple_id": {
                      "type": "string",
                      "description": ""
                    },
                    "app_profile_banner_url": {
                      "type": "string",
                      "description": ""
                    },
                    "onesignal_subscription_id": {
                      "type": "string",
                      "description": ""
                    },
                    "preferred_checkin_view": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "grid",
                        "slider"
                      ],
                      "default": "slider"
                    },
                    "recent_checkin_emotion": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "Display": {
                          "type": "string",
                          "description": ""
                        },
                        "emotionColour": {
                          "type": "string",
                          "description": ""
                        },
                        "themeColour": {
                          "type": "string",
                          "description": ""
                        },
                        "themeFontColour": {
                          "type": "string",
                          "description": ""
                        },
                        "Selectable_Prompts": {
                          "type": "string",
                          "description": ""
                        },
                        "xQuad": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "yQuad": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "MHFR_action": {
                          "type": "string",
                          "description": ""
                        },
                        "definition": {
                          "type": "string",
                          "description": ""
                        },
                        "action": {
                          "type": "string",
                          "description": ""
                        },
                        "zone_name": {
                          "type": "string",
                          "description": "",
                          "enum": [
                            "Active Flow",
                            "Challenged & Agitated",
                            "Contemplative & Connected",
                            "Loss & Exhaustion"
                          ]
                        },
                        "zone_label": {
                          "type": "string",
                          "description": "",
                          "enum": [
                            "Low energy • Unpleasant",
                            "High energy • Unpleasant",
                            "Low energy • Pleasant",
                            "High energy • Pleasant"
                          ]
                        },
                        "body_signals": {
                          "type": "string",
                          "description": ""
                        },
                        "emotion_cluster": {
                          "type": "string",
                          "description": "synonymous of similar emotions"
                        },
                        "tone": {
                          "type": "string",
                          "description": ""
                        }
                      },
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/auth/microsoft/callback": {
      "post": {
        "operationId": "api/auth/microsoft/callback|POST",
        "summary": "Microsoft login - returns authentication for user to be logged in",
        "description": "Microsoft login - returns authentication for user to be logged in\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": ""
                  },
                  "code_verifier": {
                    "type": "string",
                    "description": ""
                  },
                  "tenant_id": {
                    "type": "string",
                    "description": ""
                  },
                  "domain": {
                    "type": "string",
                    "description": ""
                  },
                  "inTeams": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": ""
                  },
                  "code_verifier": {
                    "type": "string",
                    "description": ""
                  },
                  "tenant_id": {
                    "type": "string",
                    "description": ""
                  },
                  "domain": {
                    "type": "string",
                    "description": ""
                  },
                  "inTeams": {
                    "type": "boolean",
                    "description": "",
                    "default": "false"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/microsoft/sso": {
      "post": {
        "operationId": "api/auth/microsoft/sso|POST",
        "summary": "",
        "description": "<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result1": {
                      "type": "string"
                    },
                    "user": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": ""
                  },
                  "tenant_id": {
                    "type": "string",
                    "description": ""
                  },
                  "timezone": {
                    "type": "string",
                    "description": ""
                  },
                  "version": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": ""
                  },
                  "tenant_id": {
                    "type": "string",
                    "description": ""
                  },
                  "timezone": {
                    "type": "string",
                    "description": ""
                  },
                  "version": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/microsoft/start": {
      "get": {
        "operationId": "api/auth/microsoft/start|GET",
        "summary": "",
        "description": "<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": ""
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/auth/request_password_reset": {
      "get": {
        "operationId": "api/auth/request_password_reset|GET",
        "summary": "Endpoint for requesting magic link to login to app.",
        "description": "Endpoint for requesting magic link to login to app.\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "operationId": "api/auth/signup|POST",
        "summary": "Signup and retrieve an authentication token",
        "description": "Signup and retrieve an authentication token\n<br /><br />\n<b>Authentication:</b> not required",
        "tags": [
          "auth"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": ""
                  },
                  "lastName": {
                    "type": "string",
                    "description": ""
                  },
                  "email": {
                    "type": "string",
                    "description": "",
                    "format": "email"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": ""
                  },
                  "password": {
                    "type": "string",
                    "description": "",
                    "format": "password"
                  },
                  "fullName": {
                    "type": "string",
                    "description": ""
                  },
                  "profilePic_url": {
                    "type": "string",
                    "description": ""
                  },
                  "recentStateCoordinateDisplay": {
                    "type": "string",
                    "description": ""
                  },
                  "recentEmotion_text": {
                    "type": "string",
                    "description": ""
                  },
                  "openai_threadID": {
                    "type": "string",
                    "description": ""
                  },
                  "current_threadID": {
                    "type": "string",
                    "description": ""
                  },
                  "timezone": {
                    "type": "string",
                    "description": ""
                  },
                  "country": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_id": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_tenant_id": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_conversation_id": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_service_url": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_access_token": {
                    "type": "string",
                    "description": "",
                    "format": "password"
                  },
                  "microsoft_refresh_token": {
                    "type": "string",
                    "description": "",
                    "format": "password"
                  },
                  "source": {
                    "type": "string",
                    "description": ""
                  },
                  "apple_id": {
                    "type": "string",
                    "description": ""
                  },
                  "app_profile_banner_url": {
                    "type": "string",
                    "description": ""
                  },
                  "onesignal_subscription_id": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": ""
                  },
                  "lastName": {
                    "type": "string",
                    "description": ""
                  },
                  "email": {
                    "type": "string",
                    "description": "",
                    "format": "email"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": ""
                  },
                  "password": {
                    "type": "string",
                    "description": "",
                    "format": "password"
                  },
                  "fullName": {
                    "type": "string",
                    "description": ""
                  },
                  "profilePic_url": {
                    "type": "string",
                    "description": ""
                  },
                  "recentStateCoordinateDisplay": {
                    "type": "string",
                    "description": ""
                  },
                  "recentEmotion_text": {
                    "type": "string",
                    "description": ""
                  },
                  "openai_threadID": {
                    "type": "string",
                    "description": ""
                  },
                  "current_threadID": {
                    "type": "string",
                    "description": ""
                  },
                  "timezone": {
                    "type": "string",
                    "description": ""
                  },
                  "country": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_id": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_tenant_id": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_conversation_id": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_service_url": {
                    "type": "string",
                    "description": ""
                  },
                  "microsoft_access_token": {
                    "type": "string",
                    "description": "",
                    "format": "password"
                  },
                  "microsoft_refresh_token": {
                    "type": "string",
                    "description": "",
                    "format": "password"
                  },
                  "source": {
                    "type": "string",
                    "description": ""
                  },
                  "apple_id": {
                    "type": "string",
                    "description": ""
                  },
                  "app_profile_banner_url": {
                    "type": "string",
                    "description": ""
                  },
                  "onesignal_subscription_id": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/update_onesignal_subscription_id": {
      "post": {
        "operationId": "api/auth/update_onesignal_subscription_id|POST",
        "summary": "Updates current user one signal subscription id",
        "description": "Updates current user one signal subscription id\n<br /><br />\n<b>Authentication:</b> required",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "lastCheckInDate": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "description": "",
                      "format": "email",
                      "nullable": true
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": ""
                    },
                    "access": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "Free",
                        "Activator",
                        "Workplace"
                      ],
                      "default": "Free"
                    },
                    "password": {
                      "type": "string",
                      "description": "",
                      "format": "password",
                      "nullable": true
                    },
                    "fullName": {
                      "type": "string",
                      "description": ""
                    },
                    "profilePic_url": {
                      "type": "string",
                      "description": ""
                    },
                    "profile_hex_colour": {
                      "type": "string",
                      "description": ""
                    },
                    "recentStateCoordinates": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "recentStateEmotion_data": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "recentCheckIn_full": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "running_stats_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "recentStateCoordinateDisplay": {
                      "type": "string",
                      "description": ""
                    },
                    "recentEmotion_text": {
                      "type": "string",
                      "description": ""
                    },
                    "openai_threadID": {
                      "type": "string",
                      "description": ""
                    },
                    "verificationCode": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "emailVerified": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "phoneVerified": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "intro_slides_seen": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "mic_permissions": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_mic_permission_popup": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_dependency_popup": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_trend_card": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "seen_user_reminder_setting": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "set_custom_user_reminder": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "onboarding_complete": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "currently_enrolled": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "course_completed": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "checkin_with_grid": {
                      "type": "boolean",
                      "description": "",
                      "default": "1"
                    },
                    "first_group_onboarding": {
                      "type": "object",
                      "description": "contains all the information about the first group onboarding progress",
                      "nullable": true
                    },
                    "onboarding_step": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "default": "1"
                    },
                    "current_threadID": {
                      "type": "string",
                      "description": ""
                    },
                    "pairs_id": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int64",
                        "description": "list of pair IDs"
                      }
                    },
                    "last_seen": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "timezone": {
                      "type": "string",
                      "description": "",
                      "default": "Australia/Melbourne"
                    },
                    "weekly_report_day": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Days of week from 1-7",
                      "default": "5"
                    },
                    "reliability_score": {
                      "type": "number",
                      "description": ""
                    },
                    "country": {
                      "type": "string",
                      "description": ""
                    },
                    "seen_sections": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "group_subscriptions_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "activator_subscription": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "status": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "active",
                        "invited",
                        "deactivated"
                      ],
                      "default": "active"
                    },
                    "microsoft_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_tenant_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_conversation_id": {
                      "type": "string",
                      "description": ""
                    },
                    "microsoft_service_url": {
                      "type": "string",
                      "description": ""
                    },
                    "test_version": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "microsoft_access_token": {
                      "type": "string",
                      "description": "",
                      "format": "password"
                    },
                    "microsoft_refresh_token": {
                      "type": "string",
                      "description": "",
                      "format": "password"
                    },
                    "microsoft_token_expiry": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "nullable": true
                    },
                    "reminder_frequency": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "WEEKDAYS",
                        "WEEKLY",
                        "DAILY",
                        "NONE"
                      ]
                    },
                    "reminder_hour": {
                      "type": "integer",
                      "format": "int64",
                      "description": "",
                      "default": "11"
                    },
                    "reminder_min": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "reminder_day": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": ""
                    },
                    "AWS_user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "AWS_synced": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "AWS_migrated": {
                      "type": "boolean",
                      "description": "",
                      "default": "false"
                    },
                    "apple": {
                      "type": "object",
                      "description": "",
                      "nullable": true
                    },
                    "apple_id": {
                      "type": "string",
                      "description": ""
                    },
                    "app_profile_banner_url": {
                      "type": "string",
                      "description": ""
                    },
                    "onesignal_subscription_id": {
                      "type": "string",
                      "description": ""
                    },
                    "preferred_checkin_view": {
                      "type": "string",
                      "description": "",
                      "enum": [
                        "grid",
                        "slider"
                      ],
                      "default": "slider"
                    },
                    "apple_user_id": {
                      "type": "string",
                      "description": ""
                    },
                    "correlation_id": {
                      "type": "string",
                      "description": ""
                    },
                    "Profile_Pic_File": {
                      "type": "object",
                      "properties": {
                        "access": {
                          "type": "string",
                          "description": "",
                          "enum": [
                            "public",
                            "private"
                          ],
                          "default": "public"
                        },
                        "path": {
                          "type": "string",
                          "description": ""
                        },
                        "name": {
                          "type": "string",
                          "description": ""
                        },
                        "type": {
                          "type": "string",
                          "description": ""
                        },
                        "size": {
                          "type": "integer",
                          "format": "int64",
                          "description": ""
                        },
                        "mime": {
                          "type": "string",
                          "description": ""
                        },
                        "meta": {
                          "type": "object",
                          "description": ""
                        },
                        "url": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        }
                      },
                      "nullable": true
                    },
                    "checkin_logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "weekday": {
                            "type": "integer",
                            "format": "int64",
                            "description": ""
                          },
                          "day_initial": {
                            "type": "string",
                            "description": ""
                          },
                          "checkedin": {
                            "type": "boolean",
                            "description": "",
                            "default": "false"
                          }
                        }
                      }
                    },
                    "magic_link2": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": ""
                        },
                        "expiration": {
                          "type": "number",
                          "format": "timestamptz",
                          "description": "",
                          "nullable": true
                        },
                        "used": {
                          "type": "boolean",
                          "description": "",
                          "default": "false"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "onesignal_subscription_id": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "onesignal_subscription_id"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "onesignal_subscription_id": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": [
                  "onesignal_subscription_id"
                ]
              }
            }
          }
        }
      }
    },
    "/checkins/create": {
[...]
